.App {
  text-align: center;
}
h1 {
  font-size: 70px;
  margin-top: 40px;
}
button {
  padding: 10px;
  font-size: 30px;
  border-radius: 15px;
  margin: 5px;
  color: crimson;
  background-color: aqua;
  cursor: pointer;
}

form {
  font-size: 30px;
}

input {
  margin: 15px;
  padding: 10px;
  font-size: 20px;
}

label {
  display: block;
}
